@media screen and (max-width: 500px){
  .menue{
    width: 20%;
    position: absolute;
    z-index: 400;
    margin-left: 0.1rem;
  }
  .classique{
    display:none;
  }
  .burger{
    display:block;
    background-color:#4283A0;
    padding: 0.2rem;
    margin: 0.5rem;
    z-index: 300;
    position: absolute;
    -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: 0.1rem solid rgb(144, 144, 144);
                -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
                box-shadow: -10px 10px 20px 1px #c0c0c0;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
    .fa-1x {
      font-size: 0.5rem;
     }
    .navbar-toggler.toggler-example {
      cursor: pointer;
    }
    button{
      background-color: white;
      height: 0.1rem;
    }
    .burgerAccordeon{
       z-index: 300;
      .card{
        width: 100%;
        background-color:#4283A0;
        .card-header  {
          display: flex;
          flex-direction: column;
          margin: 0.1rem;
          width: 100%;
          background-color: white 0;
          color: white;
          font-size: 12px;
          font-weight: bold;
          list-style: none;
          span{
            margin: -0.1rem;
            width: 100%;
          }
        } 
        ul{
          color: white;
          list-style: none;
          font-size: 12px;
          padding: 0%;
        }
        .check{
          background-color: #4283A0;
          width: 2px;
          height: 17px;
          border-radius: 2px;
          border:0.1rem solid white;
          margin-right: 0.5rem;
        }
        input[type="checkbox"]{
          display:none;
          position: relative;
        }
        input[type="checkbox"]:checked + button {
	        background-color: white;
	        text-shadow: 1px 0px 0px white;
        }
        img{
          width: 1rem;
          height: 1rem;
          margin:0rem 0.2rem 0rem 0.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 959px) {
  .menue{
    width: 40%;
    position: absolute;
    z-index: 300;
    margin-left: 0.1rem;
  }
  .classique{
    display:none;
  }
  .burger{
    display:block;
    background-color:#4283A0;
    padding: 0.2rem;
    margin: 0.2rem;
    z-index: 300;
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0.1rem solid rgb(144, 144, 144);
    -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
    -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
    -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
    box-shadow: -10px 10px 20px 1px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
    .fa-1x {
      font-size: 0.5rem;
     }
    .navbar-toggler.toggler-example {
      cursor: pointer;
    }
    button{
      background-color: white;
      height: 0.1rem;
    }
    .burgerAccordeon{
       z-index: 300;
      .card{
        width: 100%;
        background-color:#4283A0;
        .card-header  {
          display: flex;
          flex-direction: column;
          margin: 0.1rem;
          width: 100%;
          background-color: white 0;
          color: white;
          font-size: 12px;
          font-weight: bold;
          list-style: none;
          span{
            margin: -0.1rem;
            width: 100%;
          }
        } 
        ul{
          color: white;
          list-style: none;
          font-size: 12px;
          padding: 0%;
        }
        .check{
          background-color: #4283A0;
          width: 2px;
          height: 17px;
          border-radius: 2px;
          border:0.1rem solid white;
          margin-right: 0.5rem;
        }
        input[type="checkbox"]{
          display:none;
          position: relative;
        }
        input[type="checkbox"]:checked + button {
	        background-color: white;
	        text-shadow: 1px 0px 0px white;
        }
        img{
          width: 1rem;
          height: 1rem;
          margin:0rem 0.2rem 0rem 0.2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 959px){
  .classique{
    margin-left: 0.3rem;
    width: 26rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0.1rem solid rgb(144, 144, 144);
    -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
    -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
    -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
    box-shadow: -10px 10px 20px 1px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
    .card{
      width: 100%;
      background-color:#4283A0;
      display:block;
      
      .card-header  {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding: 0.6rem;
        width: 100%;
        background-color: white 0;
        color: white;
        font-size: 12px;
        font-weight: bold;
        list-style: none;
        span{
          margin: -0.1rem;
          width: 100%;
        }
      } 
      ul{
        color: white;
        list-style: none;
        padding: 0;
      }
      .check{
        display: inline-block;
        background-color: #4283A0;
        width: 17px;
        height: 17px;
        border-radius: 5px;
        border:0.1rem solid white;
        margin-right: 0.5rem;
      }
      input[type="checkbox"]{
        display:none;
      }
      input[type="checkbox"]:checked + span {
        background-color: white;
        text-shadow: 1px 0px 0px white;
      }
      img{
        width: 1.7rem;
        height: 1.7rem;
        margin:0rem 0.50rem 0rem 0.5rem;
      }
    }   
  }
  .burger{
    display: none;
  }
}
  

