
//responsive pour les petit écrants
@media screen and (max-width: 500px){
    .PartieDroite{
        font-size: 12px;
        flex-direction: column;
        width: 100%; 
        #map{
            margin:0.2rem;
            height: 33rem;
            width: 25rem;
            z-index: 1;
            position: relative;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
            box-shadow: -10px 10px 20px 1px #c0c0c0;
            filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
        }
        .imputs{
            display: block;
            padding: 0.5rem;
            width: 18rem;
            float: right;
            .css-1hwfws3 {
                background-color: rgb(215, 248, 157);
                color:black;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: 0.1rem solid  rgb(183, 211, 135);
                -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
                box-shadow: -10px 10px 20px 1px #c0c0c0;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
                
            }
            .css-tlfecz-indicatorContainer {
                background-color: rgb(215, 248, 157);
                color: black;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: 0.1rem solid  rgb(183, 211, 135);
                -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
                box-shadow: -10px 10px 20px 1px #c0c0c0;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
            }    
            .selectCommune{
                z-index: 300;
                color:#9AD635;
                font-weight: 100;
                font-weight:bold;
            }
            .selectItems{
                z-index: 200;
                color:#9AD635;
                font-weight: 100;
                font-weight:bold;
            }
            
            .form-control{
                background-color: #9AD635;
                opacity: 0.5;
                color: black;
                font-weight:bold;
            }
        }
    }   
}
@media screen and (min-width: 500px) and (max-width: 959px) {
    .PartieDroite{
        font-size: 12px;
        flex-direction: column;
        width: 100%; 
        #map{
            margin:1rem;
            height: 40rem;
            width: 50rem;
            z-index: 1;
            position: relative;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
            box-shadow: -10px 10px 20px 1px #c0c0c0;
            filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
        }
        .imputs{
            display: flex;
            flex-wrap:wrap;
            padding: 0.5rem;
            width: 75%;
            float: right;
            .css-1hwfws3 {
                background-color: rgb(215, 248, 157);
                color:black;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: 0.1rem solid  rgb(183, 211, 135);
                -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
                box-shadow: -10px 10px 20px 1px #c0c0c0;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
                
            }
            .css-tlfecz-indicatorContainer {
                background-color: rgb(215, 248, 157);
                color: black;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                border: 0.1rem solid  rgb(183, 211, 135);
                -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
                -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
                box-shadow: -10px 10px 20px 1px #c0c0c0;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
            }
            .selectCommune{
                z-index: 200;
                color:#9AD635;
                font-weight: 100;
                font-weight:bold;
            }
            .selectItems{
                z-index: 200;
                color:#9AD635;
                font-weight: 100;
                font-weight:bold;
            }
            
            .form-control{
                background-color: #9AD635;
                opacity: 0.5;
                color: black;
                font-weight:bold;
            }
        }
    }
}
@media screen and (min-width: 959px){
.PartieDroite{
    flex-direction: column;
    width: 75%;
     #map{
        margin:1rem;
        height: 52rem;
        width: 80rem;
        z-index: 1;
        position: relative;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
        -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
        -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
        box-shadow: -10px 10px 20px 1px #c0c0c0;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
    }
    .imputs{
        display: flex;
        flex-wrap:wrap;
        padding: 0.5rem;
        .css-1hwfws3 {
            background-color: rgb(215, 248, 157);
            color:black;
            width: 10%;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 0.1rem solid  rgb(183, 211, 135);
            -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
            box-shadow: -10px 10px 20px 1px #c0c0c0;
            filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
            
        }
        .css-tlfecz-indicatorContainer {
            background-color: rgb(215, 248, 157);
            color: black;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 0.1rem solid  rgb(183, 211, 135);
            -moz-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -webkit-box-shadow: -10px 10px 20px 1px #c0c0c0;
            -o-box-shadow: -10px 10px 20px 1px #c0c0c0;
            box-shadow: -10px 10px 20px 1px #c0c0c0;
            filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=224, Strength=20);
        }
       

        .selectCommune{
            z-index: 200;
            color:#9AD635;
            font-weight: 100;
            font-weight:bold;
        }
        .selectItems{
            z-index: 200;
            color:#9AD635;
            font-weight: 100;
            font-weight:bold;
        }
        
        .form-control{
            background-color: #9AD635;
            opacity: 0.5;
            color: black;
            font-weight:bold;
        }
    }
}
}
